*{
    margin: 10;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f1f1f1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ****************** BANDE GRISE ********************* */

.bande-grise{
    position: fixed;
    top: 0;
    left: 0;
    padding: 70px;
    width: 100%;
    background-image: linear-gradient(to right, #B8B8B8 0%, #f5f5f5 20%, #B8B8B8 100%);
}

/* ****************** IMAGE ********************* */

.bande-grise img{
    position: absolute;
    top: 0;
    left: 0;
    padding-top : 7px;
    padding-left : 40px;
    transform: scale(2.6);
    width: 240px;
    height: auto;
}

/* ****************** "Connexion" ********************* */

.texte p{
    position: fixed;
    right: 0; 
    top: -55px;
    letter-spacing : 0px;
    color: #000000;
    font-family : "Helvetica";
    font-size : 80px;
    padding-right : 20px;
}


/* ********** Formulaire de connexion utilisateur ********** */

.zone-inscription{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 850px;
    background-size: cover;
    background-position: center center;
}

.inscription{
    background-color: rgba(255, 255, 255, 0.8);
    width: 400px;
    height: 410px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 1px 14px 1px rgba(0,0,0,0.74);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ********** Se connecter ********** */

h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 2rem;
    color: #333;
}

.champ-saisie{
    position: relative;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}

input{
    padding: 20px;
    border-top: none;
    border-left:none;
    border-right: none;
    width: 300px;
    height: 20px;
    font-size: 1.0rem;
    padding-left: 0px;
}

/* ********** Bouton lock et email ********** */

.imgs{
    position: absolute;
    right: 10px;
    bottom: 20px;
}

/* ********** Bouton se connecter ********** */

input[type=submit] {
    width: 300px;
    height: 50px;
    padding: 0;
    margin-bottom: 5px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    background: linear-gradient(334deg, #6b97f7, #c947a8, #f7137e);
    transition: background 0.3s ease-in-out;
}

input[type=submit]:hover{
    background: linear-gradient(334deg, #f7137e, #c947a8, #6b97f7);
}

/* ************** "Créer un compte" ************** */
.compte {
    display: inline;
    font-size: 16px;
    font-family: "Helvetica", sans-serif;
    padding-top:10px;
    letter-spacing: 1px;
}

.compte a {
    text-decoration: none;
}

.Accueil {
    position: fixed;
    right: 20px; /* Texte à droite de l'écran */
    top: 150px;
}

.Accueil a{
    font-family: "Helvetica";
    letter-spacing: 0px;
    font-size: 14px;
    background-color: #cccccc;
    padding: 8px 25px;
    border: none;
    border-radius: 4px;
    color: #000000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.Accueil a:hover {
    background-color: #ff0080;
}
