*{
    margin: 10;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f1f1f1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bande-grise{
    position: fixed;
    top: 0;
    left: 0;
    padding: 70px;
    width: 100%;
    background-image: linear-gradient(to right, #B8B8B8 0%, #f5f5f5 20%, #B8B8B8 100%);
}

.bande-grise img{
    position: absolute;
    top: 0;
    left: 0;
    padding-top : 14px;
    padding-left : 40px;
    transform: scale(2.6);
    width: 200px;
    height: auto;
}

.texte{
    position : absolute;
    left : 1530px;
    top : -50px;
    letter-spacing : 0px;
    color: #000000;
    font-family : "Helvetica";
    font-size : 80px;
}

.sign-up-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 800px;
    background-size: cover;
    background-position: center center;
}

.sign-up{
    background-color: rgba(255, 255, 255, 0.8);
    width: 400px;
    height: 400px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 1px 14px 1px rgba(0,0,0,0.74);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin-bottom: 20px;
    top:  100px;
    text-align: center;
    font-size: 2rem;
    color: #333;
}

.input-box{
    position: relative;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.imgs{
    position: absolute;
    right: 10px;
    bottom: 20px;
}

input{
    padding: 20px;
    border-top: none;
    border-left:none;
    border-right: none;
    width: 300px;
    height: 20px;
    font-size: 1.0rem;
    padding-left: 0px;
}

input[type=submit] {
    width: 300px;
    height: 50px;
    padding: 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    background: linear-gradient(334deg, #6b97f7, #c947a8, #f7137e);
    transition: background 0.3s ease-in-out;
}

input[type=submit]:hover{
    background: linear-gradient(334deg, #f7137e, #c947a8, #6b97f7);
}

.checkboxes{
    position: absolute;
    margin-top: 10px;
    text-align : left;
    margin-bottom : 10px;
    font-size: 2px;
    
    color : #ff007f;
}