
body{
    background-image: linear-gradient(to right, #F8F8F8, #dcdcdc);
    margin: 0;
    padding: 0;
    font-family : "Helvetica";
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align : center;
    transition: transform 0.3s ease; /* Ajoute une transition fluide lors du zoom */
}

        /* ************************* TITRE ********************** */

.conteneur titre{
    position: fixed;
    top: 5%;
    left: 50%; 
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease;   
}

.titre{
    color: navy;
    font-size: 2vw;
}

        /* ************************* IMAGE ********************** */

.image img{
    width: 300px; 
    height: auto;
    transform: scale(2.4);
    justify-content: center;
    align-items: center;

}



.conteneur image{
    position: fixed;
    top: 35%;
    left: 46%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease;
}



        /* ************************* "... l’expression d’un potentiel, la promesse d’une richesse !"  ********************** */


.texte{
    color : navy;
    font-size : 1vw;
    align-items: center;
    text-align : center;

}

.conteneur texte {
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease;
}




        /* ************************* BOUTON ********************** */

.bouton-container{
    position: fixed;
    justify-content: center;
    margin-top: 50px;
    transition: transform 0.3s ease; /* Ajoute une transition fluide lors du zoom */
}

.bouton-container a{
    display: block;
}

.bouton{
    background-color: transparent;
    color: red;
    font-size: 24px;
    border: none;
    letter-spacing : -2px;
    cursor : pointer;
}

.conteneur bouton{
    position : fixed;
    top : 80%;
    left : 50%;
    transform: translate(-50%,-50%);
    transition: transform 0.3s ease;
}




/* ********************* PIEDS DE PAGE ******************** */



.bande-blanche {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
  }
  
  .bas {
    color: grey;
    font-size: 12px;
    text-align: center;
  }
  
