
        /* ****************** BANDE GRISE ********************* */
.bande-grise {
      position: fixed;
      top: 0;
      left: 0;
      padding: 70px;
      width: 100%;
      background-image: linear-gradient(to right, #B8B8B8 0%, #f5f5f5 20%, #B8B8B8 100%);

}

        /* ****************** IMAGE ********************* */

.bande-grise img{
      position: absolute;
      top: 0;
      left: 0;
      padding-top : 7px;
      padding-left : 40px;
      transform: scale(2.6);
      width: 200px;
      height: auto;
}


        /* ****************** "POUR FAIRE DE L'ENGAGEMENT UNE VALEUR" ********************* */

.contenu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 960px;
    margin: auto;
    font-size: 2.4em;
}


p{
    position : absolute;
    top: 60%;
    right : 10%;
    transform: translate(60,10);
    letter-spacing : 6px;
    text-align : right;
    color: white;
    font-family : "Helvetica";
}

.bande-grise p{
    padding-left : 250px;
    margin: 0;
    padding-top : 1px;
}



        /* ****************** BANDE CENTREE ********************* */

.bande-centree {
    position : absolute;
    width: 40%;
    text-align: center;
    background-image: linear-gradient(to right, #d3d3d3 0%, #f5f5f5 20%, #d3d3d3 100%);
    text-align: center;
    padding: 10px;
    margin: 70px 0 0 350px;
}


.bande-centree .texte2 .jeune{
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-family : "helvetica";
    letter-spacing : -1px;
    color: #ff007f;
    border : none;
    background-color : transparent;
    cursor : pointer;
}

.aj{
    text-decoration : none;
}

.bande-centree .texte2 span.referent{
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-family : "helvetica";
    letter-spacing : -1px;
    color: #228b22;
    cursor : pointer;
}

.ar{
    text-decoration : none;
}

.bande-centree .texte2 span.consultant{
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-family : "helvetica";
    letter-spacing : -1px;
    color: #00bfff;
    cursor : pointer;
}

.ac{
    text-decoration : none;
}
.bande-centree .texte2 .partenaires{
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-family : "helvetica";
    letter-spacing : -1px;
    color: gray;
    border : none;
    background-color : transparent;
    cursor : pointer;
}


        /* ****************** PPARAGRAPHE 1 ********************* */

.h1{
    position : absolute;
    color: #7f7f7f;
    width : 33%;
    text-align : left;
    font-family : "helvetica";
    left : 40px;
    top : 232px;
    letter-spacing : 0px;
    font-size : 22px;
}

.left{
    position : absolute;
    color: grey;
    width : 33%;
    text-align : left;
    font-family : "helvetica";
    left : 40px;
    top : 270px;
    letter-spacing : 0px;
    font-size : 13px;
}

        /* ****************** PPARAGRAPHE 2 ********************* */

.h2{
    position : absolute;
    color: #7f7f7f;
    width : 33%;
    text-align : left;
    font-family : "helvetica";
    left : 490px;
    top : 232px;
    letter-spacing : 0px;
    font-size : 22px;
}

.p1{
    position : absolute;
    color: grey;
    width : 33%;
    text-align : justify;
    font-family : "helvetica";
    left : 490px;
    top : 270px;
    letter-spacing : 0px;
    font-size : 12px;
}

.p2{
    position : absolute;
    color: grey;
    width : 33%;
    text-align : justify;
    font-family : "helvetica";
    left : 490px;
    top : 340px;
    letter-spacing : 0px;
    font-size : 12px;
}



        /* ****************** PARAGRAPHE 3 ********************* */


.r1{
    position : absolute;
    color: grey;
    width : 33%;
    text-align : justify;
    font-family : "helvetica";
    right : 40px;
    top : 232px;
    letter-spacing : 0px;
    font-size : 13px;
}

.r2{
    position : absolute;
    color: #7f7f7f;
    width : 33%;
    text-align : justify;
    font-family : "helvetica";
    right : 40px;
    top : 298px;
    letter-spacing : 0px;
    font-size : 14px;
}



        /* ****************** IMAGES RBV ********************* */

.rose{
    position : absolute;
    width : 220px;
    height : 200px;
    top : 444px;
    left : 338px;
}

.vert{
    position : absolute;
    width : 220px;
    height : 198px;
    top : 446px;
    left : 580px;
}

.bleu{
    position : absolute;
    width : 200px;
    height : 180px;
    top : 454px;
    left : 830px;
}

