body
{
    background-color: white;
}

h1
{
    font-weight: normal;
    text-align: center;
    color:navy;
}

img 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.boutton
{
    
    text-align: center;
}

button
{
    background-color: transparent;
    color: red;
    font-size: 24px;
    border: none;
    letter-spacing: -2px;
    cursor: pointer;
}
