
/* ****************** BANDE GRISE ********************* */

.bande-grise {
    position: fixed;
    top: 0;
    left: 0;
    padding: 70px;
    width: 100%;
    background-image: linear-gradient(to right, #B8B8B8 0%, #f5f5f5 20%, #B8B8B8 100%);
  }
  
  /* ****************** IMAGE ********************* */
  
  .bande-grise img {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 7px;
    padding-left: 40px;
    transform: scale(2.6); /* agrandit l'élément en le mettant à l'échelle 2,6 fois */
    width: 200px;
    height: auto;
  }
  
  /* ****************** "REFERENT" ********************* */
  
  .texte {
    position: fixed;
    color: #C2E12E;
    font-family: "Helvetica";
    letter-spacing : 0px;
    right: 0; /* Texte à droite de l'écran */
    top: -75px;
    font-size : 80px;
    padding-right : 20px; ;
  }
  
  /* *** "Je confirme la valeur de ton engagement" *** */
  
  .t2{
    position: fixed;
    font-family : "Helvetica";
    right: 0; /* Texte à droite de l'écran */
    top: -55px;
    padding-right : 20px;
    color : white;
    font-size : 40px;
    top : 40px;
    letter-spacing : 1px;
  }


/* ****************** BANDE CENTREE ********************* */
.bande-centree{
    position: fixed;
    top: 140px;
    left: 0;
    right: 0;
    margin: auto;
    width: 40%;
    text-align: center;
    background-image: linear-gradient(to right, #d3d3d3 0%, #f5f5f5 20%, #d3d3d3 100%);
    padding: 10px;
}

.bande-centree .module .jeune{
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-family : "helvetica";
    letter-spacing : -1px;
    color: #ff007f;
    border : none;
    background-color : transparent;
    cursor : pointer;
  }

.aj{
    text-decoration : none;
}

.bande-centree .module span.referent{
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 4px 14px 4px 14px;
    font-family : "helvetica";
    letter-spacing : -1px;
    color: white;
    cursor : pointer;
    background-color :  #228b22;
    border : none;
}

.ar{
    text-decoration : none;
}

.bande-centree .module span.consultant{
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-family : "helvetica";
    letter-spacing : -1px;
    color: #00bfff;
    cursor : pointer;
}

.ac{
    text-decoration : none;
}

.bande-centree .module .partenaires{
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-family : "helvetica";
    letter-spacing : -1px;
    color: grey;
    border : none;
    background-color : transparent;
    cursor : pointer;
}
/* *************************** TEXTE VERT ************************* */

.dec {
    position: fixed;
    font-size: 22px;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%); /* Le texte sera centré horizontalement au milieu de l'écran */
    color: #228b22;
    font-family: "Helvetica", sans-serif;
    letter-spacing: 1px;
}


/* ************************ TRAIT VERT *********************** */

.traitvert{
    position: fixed;
    transform: translate(-50%, -50%);
    top: 580px;
    left: 50%;
    width : 670px;
    height : 230px;
}


/* ************************ DONNÉES *********************** */


label{
    font-size : 21px;
    font-family : "helvetica";
}

.infos{
    position: fixed;
    font-size: 22px;
    top: 490px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family : 20px;
    padding-right : 75px;
    width: 25%;
    background-color : white;
    font-family : 20px;
    border-top : none;
    border-left : none;
    border: 1px solid #C2E12E;
    color : #C2E12E;
}

input[type="text"]{
    border: none;
    border-bottom: 1px dotted black;
    outline: none;
    border-color : #C2E12E;
    font-family : 24px;
}

input[type="email"]{
    border: none;
    border-bottom: 1px dotted black;
    outline: none;
    border-color : #C2E12E;
    font-family : 24px;
}

input[type="date"]{
    width : 115px;
}


input{
    box-sizing: border-box;
    width: 45%;
}

input, textarea{
    color: navy;
    font-size: 14px;
}


/* ************************** "JE SUIS"**************************** */

.bandeVerte{
    position : fixed;
    top: 320px;
    left: 80%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, #C2E12E, #228b22);
    color: rgb(255, 255, 255);
    font-size: 24px;
    padding: 10px;
    width: 5.6cm;
    height: 0.3cm;
    text-align : center;
}

.ilEst{
    margin-top : -5px;
    margin-left : 10px;
    font-size : 18px;
}
.qualite{
margin-left:20px;
}
.qualite input{
    margin-left: -21px;
}

.checkboxes{
    position: fixed;
    margin-top: 20px;
    padding: 30px 0px 25px 0px;
    text-align : left;
    margin-bottom : 10px;
    top: 450px;
    left: 80%;
    transform: translate(-50%, -50%);
    width : 230px;
    color : white;
    background-color: #E0EB7F;
}

.refuser{
    position : absolute;
    background-color : #228b22;
    border : none;
    color : white;
    font-size : 25px;
    position : absolute;
    top : 664.3px;
    left : 75%;
    cursor : pointer;
}


.valider{
    position : absolute;
    background-color : #228b22;
    border : none;
    color : white;
    font-size : 25px;
    position : absolute;
    top : 342px;
    left : 60%;
    cursor : pointer;
}

.maxChoix{
    position : fixed;
    top: 630px;
    left: 79.9%;
    transform: translate(-50%, -50%);
    color : #E0EB7F;
}

.commentaire{
    position : absolute;
    background: linear-gradient(to right, rgb(224, 236, 208), #C2E12E);
    color: white;
    font-size: 24px;
    padding: 10px;
    width: 4.58cm;
    height: 0.3cm;
    text-align : center;
    top : 300px;
    left : 13%;
    font-family : "helvetica";
    letter-spacing : -3px;
}

.comment{
    margin-top : -7px;
    margin-left : 5px;
}
.comm{
    position : absolute;
    top : 330px;
    left: 13.89%;
    width: 5cm;
    height: 8cm;
    background-color:  #E0EB7F;
    border : none;
}

