
        /* ****************** BANDE GRISE ********************* */
        .bande-grise {
            position: fixed;
            top: 0;
            left: 0;
            padding: 70px;
            width: 100%;
            background-image: linear-gradient(to right, #B8B8B8 0%, #f5f5f5 20%, #B8B8B8 100%);
      
      }
              /* ****************** IMAGE ********************* */
      
      .bande-grise img{
            position: absolute;
            top: 0;
            left: 0;
            padding-top : 7px;
            padding-left : 40px;
            transform: scale(2.6);
            width: 200px;
            height: auto;
      }
      
      
              /* ****************** "CONFIRMATION" ********************* */
              .texte {
                position: fixed;
                color: #ff007f;
                font-family : "Helvetica";
                letter-spacing : 0px;
                right: 0; /* Texte à droite de l'écran */
                top: -55px;
                font-size : 80px;
                padding-right : 20px; 
              }

              /******************** "Felicitations"**************************************/
              .h1{
                position : fixed;
                color: #ad3333;
                width : 33%;
                font-family : "helvetica";
                left : 8%;
                top : 160px;
                letter-spacing : 0px;
                font-size : 90px;
        
            }


            /******************"im" *********************************/
            .im {
              position: fixed;
              height: auto;
              left: 65%;
              top: 460px;
              transform: scale(1.8);
              }


              .t2 {
                position: fixed;
                color: #00bfff;
                font-family: "Helvetica";
                letter-spacing : 0px;
                left:8%;
                right:45%; 
                top: 340px;
                font-size : 30px;
                padding-right : 20px; ;
            }
            .t3 {
              position: fixed;
              font-family: "Helvetica";
              letter-spacing : 0px;
              left:8%;
              color: gray;
              top: 540px;
              font-size : 15px;
              padding-right : 20px; ;
          }
          .t4 {
            position: fixed;
            font-family: "Helvetica";
            letter-spacing : 0px;
            left:8%;
            right:45%; 
            color: gray;
            top: 460px;
            font-size : 15px;
            padding-right : 20px; ;
        }