/* ****************** BANDE GRISE ********************* */

.bande-grise {
  position: fixed;
  top: 0;
  left: 0;
  padding: 70px;
  width: 100%;
  background-image: linear-gradient(to right, #B8B8B8 0%, #f5f5f5 20%, #B8B8B8 100%);
}

/* ****************** IMAGE ********************* */

.bande-grise img {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 7px;
  padding-left: 40px;
  transform: scale(2.6); /* agrandit l'élément en le mettant à l'échelle 2,6 fois */
  width: 200px;
  height: auto;
}

/* ****************** "Consultant" ********************* */

.texte {
  position: fixed;
  color: #00bfff;
  font-family: "Helvetica";
  letter-spacing : 0px;
  right: 0; /* Texte à droite de l'écran */
  top: -75px;
  font-size : 80px;
  padding-right : 20px; ;
}

/* *** "Je donne de la valeur à mon engagement" *** */

.t2{
  position: fixed;
  font-family : "Helvetica";
  right: 0; /* Texte à droite de l'écran */
  top: -55px;
  padding-right : 20px;
  color : white;
  font-size : 40px;
  top : 40px;
  letter-spacing : 1px;
}

/* ****************** BANDE CENTREE ********************* */

.module{
  display: inline; /* l'élément est affiché comme un élément en ligne */
}
.bande-centree{
  position: fixed;
  top: 140px;
  left: 0;
  right: 0;
  margin: auto;
  width: 40%;
  text-align: center;
  background-image: linear-gradient(to right, #d3d3d3 0%, #f5f5f5 20%, #d3d3d3 100%);
  padding: 10px;
}

.bande-centree .module .jeune{
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-family : "helvetica";
  letter-spacing : -1px;
  color: #ff007f;
  border : none;
  background-color : transparent;
  cursor : pointer;
}

.aj{
  text-decoration : none;
}

.bande-centree .module span.referent{
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-family : "helvetica";
  letter-spacing : -1px;
  color: #228b22;
  cursor : pointer;
}

.ar{
  text-decoration : none;
}

.bande-centree .module span.consultant{
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-family : "helvetica";
  padding: 4px 14px 4px 14px;
  letter-spacing : -1px;
  background-color : #00bfff;
  color:white;
  cursor : pointer;
}

.ac{
  text-decoration : none;
}

.bande-centree .module .partenaires{
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-family : "helvetica";
  letter-spacing : -1px;
  color: grey;
  border : none;
  background-color : transparent;
  cursor : pointer;
}

/* ************* Positionnement de refus et valider ************* */

.validation {
  position: fixed;
  right: 20px; /* Texte à droite de l'écran */
  top: 150px;
}
.refus {
  position: fixed;
  right: 100px; /* Texte à droite de l'écran */
  top: 150px;
}

/* ************* Style du bouton des commandes ************* */

.validation .bouton{
  font-family: "Helvetica";
  letter-spacing: 0px;
  font-size: 14px;
  background-color: #cccccc;
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  color: #000000;
  text-align: center;
  text-decoration: none;
  display: inline-block; /* l'élément est affiché comme un élément en ligne  et mise en page de type bloc */
  cursor: pointer;
}
.refus .bouton{
  font-family: "Helvetica";
  letter-spacing: 0px;
  font-size: 14px;
  background-color: #cccccc;
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  color: #000000;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  margin-right: 20px; 
}
.validation .bouton:hover {
  background-color: #ff0080;
}
.refus .bouton:hover {
  background-color: #ff0080;
}


/* *************************** TEXTE BLEU ************************* */

.description{
    position: fixed;
    font-size: 22px;
    top: 220px;
    left: 50%;
    transform: translate(-50%, -50%); /* le texte sera centré horizontalement au milieu de l'écran */
    color: #00bfff;

    font-family: "Helvetica", sans-serif;
    letter-spacing: 1px;
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
}

/* ************************* LOGO JEUNE *********************** */

img.dec {
    top: 320px;
}

/* ************************ TRAIT BLEU *********************** */

.traitBleu{
    z-index: -1;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 680px;
    left: 50%;
    width : 670px;
    height : 230px;

}


/* ************************ DONNÉES *********************** */


label{
    font-size : 20px;
    font-family : "helvetica";
}

.cadreInfo1{
    position: fixed;
    font-size: 22px;
    top: 480px;
    left: 30%;
    transform: translate(-50%, -50%);
    font-family : 20px;
    padding-right : 75px;
    width: 25%;
    border: 1px solid #ff007f;
    background-color : white;
    color : #ff007f;
}
.cadreInfo2{
    font-size: 22px;
    transform: translate(-50%, -50%);
    font-family : 20px;
    padding-right : 75px;
    width: 25%;
    height: auto;
    border: 1px solid rgb(143, 167, 27);
    background-color : white;
    color : rgb(143, 167, 27);
    margin-bottom: 20px;
    
}

input[type="text"]{
    border: none;
    border-bottom: 1px dotted black;
    outline: none;
    border-color : #ff007f;
    font-family : 24px;
}

input[type="email"]{
    border: none;
    border-bottom: 1px dotted black;
    outline: none;
    border-color : #ff007f;
    font-family : 24px;
}

input{
    box-sizing: border-box;
    width: 45%;
}

input, textarea{
    font-size: 14px;
    color: navy;
}

/* ************************** "JEUNE et REFERENT"**************************** */

.Titre{
    font-size: 40px;
}

/* ************************** "Cadre referent"**************************** */

.references{ 
    left:  50%;  
    width: 100%;
    position: fixed;
    height: 400px;     
    overflow-y: scroll;
    max-height: calc(100vh - 200px);
    padding-top: 290px;
    padding-left: 400px; 
    top:270px;
    
  }
.references-containeur{ 

height: auto;
margin-bottom: 30px;
display: flex;
flex-direction: column;
align-items: flex-start;
}

/* ************************** "Qualites"**************************** */

.qualites-containeur {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
  }
  
  .checkbox-containeur {
    display: flex;
    align-items: center;
    margin-bottom: 5px; /* Ajustez cette valeur pour définir l'espacement vertical entre les lignes */
  }
  
  .checkbox-containeur:last-child {
    margin-left: 0; /* Supprime la marge droite du dernier élément de chaque ligne */
  }
  
/* ************************** "Appréciation"**************************** */
textarea {
    width: 100%;
    height: 15px;
    overflow: auto;
}

